<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Flexsin: software development, mobile app, web development company</title>
<meta name="Description" content="Mobile app/web development company delivering custom web development, enterprise application, software development, mobile apps, IoT, AI, Big Data, Cloud solution & services. Free consultation from experts.">
<meta name="Keywords" content="Custom web development, web development company, mobile Application development, iPhone app development, Web Development India, enterprise app, web Portal, CRM, Cloud, ERP, Big Data Solutions, Social networking Apps, SEO/SEM, e-commerce Soultion, CMS, web portal, iPhone app developers, Android/iOS app development, Web application development, HTML5, SharePoint, MYSQL, PHP, ASP.NET, Magento, Drupal, Zend, Android app, MVC, Zend, IT, Partner, offshore web development, outsource software development, Dallas, India, Flexsin Inc, Flexsin, Flexsin Technologies Pvt. Ltd.">
<meta name="google-site-verification" content="bFZqW6cqfexEO5MHB9wxAHGRn5oacjGcr_-UE2jh2s4">
<link rel="publisher" href="https://plus.google.com/112434540747931974165">
<meta property="og:image" content="http://www.flexsin.com/images/logo.jpg">
<!--[if IE]>
<script src="js/html5.js"></script>
<script src="js/placeholder.js"></script>
<![endif]-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
<link href="stylesheets/responsive.css" rel="stylesheet" type="text/css">
<link href="stylesheets/owl.carousel.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="main-cont" id="top">
	<!--Start Top -->
	<header class="header">
    	<!--Strat Banner -->
        <div class="banner-img wow fadeInDown" data-wow-delay="0.2s">
            <ul class="banner-Slider">
                <li style="background:url(images/banner-img.jpg) center center no-repeat; background-size:cover;">
                    <div class="bannerTrans">
                    	<div class="container">
                        	<div class="bannerCont">
                            	<h2>WE BUILD ADVANCED WEB SOLUTIONS<br> FOR BUSINESS</h2>
                                <p>Full-cycle web development company with over a decade of experience in building custom web applications &amp; portals for SMEs and Enterprises.</p>
                                <a href="software-web-development/web-development.php" class="readMore transition">Read More</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background:url(images/banner-img4.jpg) center center no-repeat; background-size:cover;">
                    <div class="bannerTrans">
                    	<div class="container">
                        	<div class="bannerCont">
                            	<h2>SIMPLIFIED APPROACH FOR APPLICATION<br> DEVELOPMENT</h2>
                                <p>Experience Design, Complex Engineering, and Agile Delivery for Rapid Offshore Software Applications Development Services.</p>
                                <a href="application-development.php" class="readMore transition">Read More</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background:url(images/banner-img3.jpg) center center no-repeat; background-size:cover;">
                    <div class="bannerTrans">
                    	<div class="container">
                        	<div class="bannerCont">
                            	<h2>Enterprise Mobility</h2>
                                <p>Our innovative team of  iOS/Android developers, analysts and designers works together to bring the most awesome apps &amp; games.</p>
                                <a href="mobile-application-development/enterprise-mobility.php" class="readMore transition">Read More</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background:url(images/banner-img6.jpg) center center no-repeat; background-size:cover;">
                  <div class="bannerTrans">
                      <div class="container">
                          <div class="bannerCont">
                              <h2>BUILDING FUTURE READY<br> IOT SOLUTIONS</h2>
                              <p>Complex engineering is our core competency, many of the world's top brands have chosen Flexsin to help them design, develop &amp; deliver innovative iOT solutions.</p>
                              <a href="https://www.flexsin.com/internet-of-things.php" class="readMore transition">Read More</a>
                          </div>
                      </div>
                  </div>
              	</li>
                <li style="background:url(images/banner-img7.jpg) center center no-repeat; background-size:cover;">
                    <div class="bannerTrans">
                    	<div class="container">
                        	<div class="bannerCont">
                            	<h2>CUSTOMIZED SOLUTION FOR BUSINESS<bR> AUTOMATION</h2>
                                <p>Enabling businesses to get competitive edge by building robust &amp; scalable IT Solutions for process transformation.</p>
                                <a href="products-solutions/business-automation.php" class="readMore transition">Read More</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    	<!--Ent Banner -->
        <!--Start Header -->
        <script type="text/javascript" src="https://www.flexsin.com/js/validatefrm.js"></script>
<link href="https://www.flexsin.com/js/validatefrm.css" rel="stylesheet" type="text/css">
<div class="menuBg">
    <div class="container posrel">
        <div class="logoBx transition"><h1><a href="https://www.flexsin.com/index.php"><img src="https://www.flexsin.com/images/logo.png" alt="Enterprise Mobile apps and web development company" class="logo1"><img src="https://www.flexsin.com/images/logo2.png" alt="" class="logo2"></a></h1></div>
        <a href="javascript:void(0)" class="mobmenu mobmenu-white transition"></a>
        <nav id="mobmenu" class="mediumFont transition">
            <ul>
                <li><a href="https://www.flexsin.com/company.php" class="transition">About</a></li>
                <li><a href="https://www.flexsin.com/services.php" class="transition">Services</a></li>
                <li><a href="https://www.flexsin.com/solutions.php" class="transition">Solutions</a></li>
                <li><a href="https://www.flexsin.com/technologies.php" class="transition">Technologies</a></li>
                <li><a href="https://www.flexsin.com/industry-focus.php" class="transition">Industries</a></li>
                <li><a href="https://www.flexsin.com/our-process.php" class="transition">Process</a></li>
                <li><a href="https://www.flexsin.com/portfolio.php" class="transition">Portfolio</a></li>
                <li><a href="https://www.flexsin.com/contact.php" class="transition">Contact</a></li>
                <li class="mob-call"><a href="#" class="transition"><img src="https://www.flexsin.com/images/top-call-icon2-white.png" alt=""> +1 844-FLEXSIN</a></li>
                <li class="mobClient-login"><a href="https://www.flexsin.com/request-quote.php" class="transition">Get a Quote</a>
            </ul>
        </nav>
        <div class="hdr-right mediumFont transition"><span class="phone">+1 844-flexsin</span><a href="https://www.flexsin.com/request-quote.php" class="transition getQuote">Get a Quote</a></div>
    </div>
</div>        <!--End Header -->
	</header>
	<!--End Top -->
    <!--Start About -->
    <div class="aboutBg">
    	<div class="container">
        	<div class="aboutTop mediumFont wow fadeInDown" data-wow-delay="0.3s">Flexsin is an established IT Services provider delivering innovative solutions for SMEs and Enterprises with proven track<br> record in software development, technology consulting and IT outsourcing services. Our specialization in advanced web<br> development, enterprise application, web portals, mobile apps, ERP, CRM, IoT, AI, Big data, Cloud & digital marketing.</div>
			<div class="aboutService">
            	<ul class="clearfix">
                	<li class="wow fadeInDown eqHeight" data-wow-delay="0.3s">
                    	<i class="transition"><span class="transition"><img src="images/service-icon1.png" alt="Web Development" class="img transition"><img src="images/service-icon1-over.png" alt="Web Development" class="over transition"></span></i>
                        <h3><strong><a href="software-web-development/web-development.php" class="transition">Advanced Web Development</a></strong></h3>
                      	<small>Innovative, robust, custom web development, ecommerce, portal development, ERP, CRM &amp; social networking solutions for businesses.</small>
            		</li>
                    <li class="wow fadeInDown eqHeight" data-wow-delay="0.3s">
                    	<i class="transition"><span class="transition"><img src="images/service-icon2.png" alt="Application Development" class="img transition"><img src="images/service-icon2-over.png" alt="Application Development" class="over transition"></span></i>
                       	<h3><strong><a href="application-development.php" class="transition">Enterprise Application</a></strong></h3>
                      	<small>Scalable, cutting-edge enterprise applications, product development, QA testing &amp; migration services for business growth and performance.</small>
            		</li>
                    <li class="wow fadeInDown eqHeight" data-wow-delay="0.3s">
                    	<i class="transition"><span class="transition"><img src="images/service-icon3.png" alt="Mobile App Development" class="img transition"><img src="images/service-icon3-over.png" alt="Mobile App Development" class="over transition"></span></i>
                        <h3><strong><a href="mobile-application-development/mobile-application-development.php" class="transition">Mobile App Development</a></strong></h3>
                       	<small>Mobile app development company building next-generation iOS/Android apps, M-commerce solutions &amp; games for iPhone, Android &amp; Windows.</small>
            		</li>
                    <li class="wow fadeInDown eqHeight" data-wow-delay="0.3s">
                    	<i class="transition"><span class="transition"><img src="images/service-icon4.png" alt="Digital Marketing" class="img transition"><img src="images/service-icon4-over.png" alt="Digital Marketing" class="over transition"></span></i>
                        <h3><strong><a href="digital-marketing.php" class="transition">Digital Marketing</a></strong></h3>
                     	<small>Resonate the digital marketing landscape with creative SEO, PPC, SMO, reputation &amp; brand management services for incremented sales.</small>
            		</li>
                   	<li class="wow fadeInDown eqHeight" data-wow-delay="0.3s">
                    	<i class="transition"><span class="transition"><img src="images/service-icon5.png" alt="Cloud" class="img transition"><img src="images/service-icon5-over.png" alt="Cloud" class="over transition"></span></i>
                        <h3><strong><a href="saas-cloud-computing/cloud-computing-services.php" class="transition">Cloud</a></strong></h3>
                      	<small>Develop ultimate &amp; flexible enterprise cloud applications, consulting, custom SAAS and product development solutions for business.</small>
                   	</li>
                    <li class="wow fadeInDown eqHeight" data-wow-delay="0.3s">
                        <i class="transition"><span class="transition"><img src="images/service-icon6.png" alt="BI &amp;  Analytics" class="img transition"><img src="images/service-icon6-over.png" alt="BI &amp;  Analytics" class="over transition"></span></i>
                        <h3><strong><a href="bi-analytics.php" class="transition">Big Data &amp; Analytics</a></strong></h3>
                       	<small>Transform businesses through Big Data &amp; analytics services, advanced big data solutions and BI applications better performance.</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--End About -->
    <div class="homeSliderOut wow fadeInDown" data-wow-delay="0.3s">
        <div class="container">
            <ul class="clearfix homeLinks">
                <li><a href="https://www.flexsin.com/outsourcing.php"><span class="hd"><span>IT</span> Outsourcing</span> <span class="txt">Offshore Outsourcing Helps Clients To Reduce <span>Operational Cost and Focus On Core Business.</span></span></a></li>
                <li><a href="https://www.flexsin.com/consulting.php"><span class="hd"><span>IT</span> Consulting</span> <span class="txt">Strategic IT Consulting for Innovative Solutions, <span>Digital Transformation and Business Automation.</span></span></a></li>
                <li><a href="https://www.flexsin.com/partners/partners-programs.php"><span class="hd"><span>Partner's</span> Program</span> <span class="txt">Partner With Flexsin to Gain Competitive Edge <span>and Accelerated Enterprise Growth at the Core!</span></span></a></li>
            </ul>
            <!--<div class="homeNSlider">
            	<div class="item"><a href="https://www.flexsin.com/outsourcing.php"><span class="hd"><span>IT</span> Outsourcing</span> <span class="txt">Offshore Outsourcing Helps Clients To Reduce <span>Operational Cost and Focus On Core Business.</span></span></a></div>
                <div class="item"><a href="https://www.flexsin.com/consulting.php"><span class="hd"><span>IT</span> Consulting</span> <span class="txt">Strategic IT Consulting for Innovative Solutions, <sapn>Digital Transformation and Business Automation.</span></span></a></div>
                <div class="item"><a href="https://www.flexsin.com/partners/partners-programs.php"><span class="hd"><span>Partner's</span> Program</span> <span class="txt">Partner With Flexsin to Gain Competitive Edge <span>and Accelerated Enterprise Growth at the Core!</span></span></a></div>
            </div>-->
        </div>
    </div>
    <!--Start Industries and Solutions-->
    <div class="clearfix">
        <div class="industryBox eqHeight">
        	<div class="industryBg"></div>
            <div class="industryInner wow fadeInDown clearfix" data-wow-delay="0.3s">
            	<h4 class="isHd">Industries</h4>
                <div class="isTxt">Our experts possess extensive industry &amp; technology expertise to design, develop and deploy actionable software solutions.</div>
                <ul class="isLinks clearfix">
                	<li><a href="https://www.flexsin.com/industry_focus/automobile.php">Automotive</a></li>
                    <li><a href="https://www.flexsin.com/industry_focus/travel-leisure.php">Hospitality &amp; Travel</a></li>
                    <li><a href="https://www.flexsin.com/industry_focus/ecommerce-shopping.php">eCommerce &amp; Retail</a></li>
                    <li><a href="https://www.flexsin.com/industry_focus/education-e-learning.php">Education &amp; eLearning</a></li>
                    <li><a href="https://www.flexsin.com/industry_focus/banking-finance-insurance.php">Finance &amp; Banking</a></li>
                    <li><a href="https://www.flexsin.com/industry_focus/casino-gambling.php">Gaming</a></li>
                    <li><a href="https://www.flexsin.com/industry_focus/high-tech.php">High Tech</a></li>
                </ul>
                <ul class="isLinks clearfix">
                	<li><a href="https://www.flexsin.com/industry_focus/airline.php">Aviation</a></li>
                	<li><a href="https://www.flexsin.com/industry_focus/manufacturing.php">Manufacturing</a></li>
                	<li><a href="https://www.flexsin.com/industry_focus/media-entertainment.php">Media &amp; Entertainment</a></li>
                	<li><a href="https://www.flexsin.com/industry_focus/public-sector.php">Public Sector</a></li>
                	<li><a href="https://www.flexsin.com/industry_focus/real-estate-property.php">Real Estate</a></li>
                	<li><a href="https://www.flexsin.com/industry_focus/pharmacy-medical-health-care.php">Pharmaceutical &amp; Healthcare</a></li>
                    <li><a href="https://www.flexsin.com/industry_focus/logistics-transportation.php">Logistics &amp; Transportation</a></li>
                </ul>
            </div>
        </div>
        <div class="solutionBox eqHeight">
        	<div class="solutiosBg"></div>
            <div class="solutionInner wow fadeInDown clearfix" data-wow-delay="0.3s">
            	<h4 class="isHd">Solutions</h4>
                <div class="isTxt">We provide industry-specific solutions ensuring improved operational efficiency and unfettered growth-rate.</div>
                <ul class="isLinks clearfix">
                	<li><a href="https://www.flexsin.com/ai-and-cognitive.php">AI &amp; Cognitive</a></li>
                    <li><a href="https://www.flexsin.com/internet-of-things.php">Internet of Thing (IoT)</a></li>
                    <li><a href="https://www.flexsin.com/software-web-development/e-learning-solutions.php">E-learning &amp; Training</a></li>
                    <li><a href="https://www.flexsin.com/software-web-development/marketplace-and-collaboration.php">Marketplace &amp; Collaboration</a></li>
                    <li><a href="https://www.flexsin.com/products-solutions/point-of-sale-system.php">Point of Sale (POS)</a></li>
                    <li><a href="https://www.flexsin.com/products/human-resource-management.php">HRM/HRIS Solutions</a></li>
                	<li><a href="https://www.flexsin.com/products-solutions/supply-chain-management.php">SCM Solutions</a></li>
                </ul>
                <ul class="isLinks clearfix">
                	<li><a href="https://www.flexsin.com/products-solutions/business-automation.php">Business Automation</a></li>
                	<li><a href="https://www.flexsin.com/software-web-development/web-portal-development.php">Web &amp; Enterprise Portals</a></li>
                	<li><a href="https://www.flexsin.com/ecommerce.php">Omnichannel E-commerce </a></li>
                	<li><a href="https://www.flexsin.com/software-web-development/social-networking-application.php">Social Networking Solutions </a></li>
                	<li><a href="https://www.flexsin.com/products/electronic-medical-record-management.php">EMR/EHR Solutions</a></li>
                	<li><a href="https://www.flexsin.com/products-solutions/management-information-system.php">MIS Solutions</a></li>
                	<li><a href="https://www.flexsin.com/products-solutions/customer-relation-management.php">CRM Solutions</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Industries and Solutions-->
    <!--Start CaseStudy-->
    <div class="wow fadeInDown" data-wow-delay="0.3s">
    	<h4 class="homePortfolioHd">Our Portfolio</h4>
        <ul class="clearfix homePFList">
        	<li class="eqHeight">
            	<div><a href="https://www.flexsin.com/portfolio/online-hotel-search-platform/"><img src="images/pf_big_img.jpg" alt="" class="pfImg"></a></div>
                <div class="homePfOver">
                	<h4 class="hd">Advanced Web Development</h4>
                    <div class="info" onClick="window.location='https://www.flexsin.com/portfolio/online-hotel-search-platform/'">
                     	<div class="inner">
                            <div class="name"><a href="https://www.flexsin.com/portfolio/online-hotel-search-platform/"> Hotel Comparison and Online Booking System</a></div>
                            <div class="txt">Trip200 is an online hotel search platform focusing on travelers and hotels...</div>
                            <div class="tags"><span>ASP.NET</span><span>C#</span><span>MVC</span><span>WCF Services</span><span>Entity Framework</span></div>
                        </div>
                    </div>
                    <div class="bot clearfix">
                    	<div class="lft"><a href="https://www.flexsin.com/portfolio.php?industry=hospitality-and-travel">Hospitality and Travel</a></div>
                        <div class="rgt"><a href="javascript:void(0)" class="share" title="Share"></a><a class="facebook" title="Facebook" href="JavaScript:newPopup('http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://www.flexsin.com/portfolio/online-hotel-search-platform/&amp;p[images][0]=https://www.flexsin.com/upload/portfolio/thumb/1477496983-1Portfolio.png&amp;p[title]=Online Hotel Comparision and Booking&amp;p[summary]=%3Cp%3ETrip200+is+an+online+hotel+search+platform+focusing+on+travelers+and+hotels.+The+goal+was+to+build+a+platform+which+will+allows+you+to+find+your+hotel+%26+get+the+lowest+room+rate+on+any+hotel+booking+website+like+Expedia%2C+Priceline%2C+Kayak+or+Trivago.+You+can+find+the+same+hotel+on+Trip200%2C+submit+your+offer+to+beat+the+lowest+rate+%26+book+directly+with+hotels+owners+%26+operators.%3C%2Fp%3E+%3Cp%3ETrip200+allows+you+to+search+and+compare+prices+from+multiple+hotel+booking+sites.+As+per+the+comparison+Trip200+furnish+discounts+on+lowest+available+booking+rates.+Travelers+can+search+by+location%2C+dates+and+types+of+rooms+in+order+to+book+the+rooms+at+different+hotels.+Trip200+also+offers+tools+that+allow+hotel+owners+to+enhance+their+business+profile+by+adding+descriptions%2C+images+and+to+receive+real-time+booking+requests+from+travelers.%3C%2Fp%3E+%3Cp%3EApart+from+developing+website+there+is+also+a+desktop+application+for+hotels+where+they+manage+all+bookings.+The+desktop+application+is+linked+with+the+live+server+which+keeps+the+application+updated+in+real-time.%3C%2Fp%3E')"></a><a class="twitter" title="Twitter" href="JavaScript:newPopup('http://twitter.com/home?status=https://www.flexsin.com/portfolio/online-hotel-search-platform/')"></a></div>
                    </div>
                </div>
            </li>
            <li class="eqHeight">
            	<div><a href="https://www.flexsin.com/portfolio/Recruitment-and-social-networking-website/"><img src="images/pf_smll_img7.jpg" alt="" class="pfImg"></a></div>
                <div class="homePfOver">
                	<h4 class="hd">Custom Web Development</h4>
                    <div class="info" onClick="window.location='https://www.flexsin.com/portfolio/Recruitment-and-social-networking-website/'">
                     	<div class="inner">
                            <div class="name"><a href="https://www.flexsin.com/portfolio/Recruitment-and-social-networking-website/">Social Networking & Recruitment Website</a></div>
                            <div class="txt">Glocal world is a social networking and recruitment website which provides a platform...</div>
                            <div class="tags"><span>PHP</span><span>MySQL</span><span>Codeigniter</span><span>HTML5</span></div>
                        </div>
                    </div>
                    <div class="bot clearfix">
                    	<div class="lft"><a href="https://www.flexsin.com/portfolio.php?industry=utilities">Utilities</a></div>
                        <div class="rgt"><a href="javascript:void(0)" class="share" title="Share"></a><a class="facebook" title="Facebook" href="JavaScript:newPopup('http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://www.flexsin.com/portfolio/Recruitment-and-social-networking-website/&amp;p[images][0]=https://www.flexsin.com/upload/portfolio/thumb/1452842292-1Social-Networking-Recruitment-Website.jpg&amp;p[title]=Social Networking &amp; Recruitment Website&amp;p[summary]=%3Cp%3E+Glocal+world+is+a+social+networking+and+recruitment+website+which+provides+a+platform+to+both+employees+and+the+job+seekers.+This+website+helps+job+seekers+and+employers+to+fulfill+their+career+aspirations.+This+website+allows+job+seekers+to+register+themselves+and+search+jobs+which+are+suitable+for+them+whereas+the+employers+can+register+and+post+job+vacancies+available+in+their+organizations%2Fcompanies.+%3C%2Fp%3E%3Cp%3E+The+registered+job+seekers+can+create+their+profile%2C+update+their+profile%2C+upload+new+resume%2C+search+and+apply+for+the+jobs+and+can+view+the+status+of+applied+jobs.+The+employers+can+post+job+vacancy+details+and+update+the+details+as+and+when+necessary.+Employers+can+also+search%2C+view+and+download+applicant+resumes.+The+administrator+of+the+job+portal+can+handle+the+management+of+job+seekers+as+well+as+employers+and+also+the+functionality+as+well+as+the+general+settings+of+the+website.%3C%2Fp%3E')"></a><a class="twitter" title="Twitter" href="JavaScript:newPopup('http://twitter.com/home?status=https://www.flexsin.com/portfolio/Recruitment-and-social-networking-website/')"></a></div>
                    </div>
                </div>
            </li>
            <li class="eqHeight">
            	<div><a href="https://www.flexsin.com/portfolio/360emr/"><img src="images/pf_smll_img8.jpg" alt="" class="pfImg"></a></div>
                <div class="homePfOver">
                	<h4 class="hd">Application Development</h4>
                    <div class="info" onClick="window.location='https://www.flexsin.com/portfolio/360emr/'">
                     	<div class="inner">
                            <div class="name"><a href="https://www.flexsin.com/portfolio/360emr/">HIPAA Compliant Telemedicine Web &amp; Mobile Application System</a></div>
                            <div class="txt">360EMR provides a platform to patients that would allow them to track their illness/disease...</div>
                            <div class="tags"><span>MEAN</span><span>Mongodb</span><span>Angular JS</span><span>Node.js</span><span>AWS</span></div>
                        </div>
                    </div>
                    <div class="bot clearfix">
                    	<div class="lft"><a href="https://www.flexsin.com/portfolio.php?industry=healthcare-and-pharmaceutical">Healthcare and Pharmaceutical</a></div>
                        <div class="rgt"><a href="javascript:void(0)" class="share" title="Share"></a><a class="facebook" title="Facebook" href="JavaScript:newPopup('http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://www.flexsin.com/portfolio/online-healthcare-system-for-doctors-and-patients/&amp;p[images][0]=https://www.flexsin.com/upload/portfolio/thumb/&amp;p[title]=Online Healthcare System for Doctors and Patients&amp;p[summary]=360EMR+provides+a+platform+to+patients+that+would+allow+them+to+track+their+illness%2Fdisease+recovery+by+using+the+application.+Once+an+appointment+is+done+with+the+Doctor%2C+patients+can+view+their+recovery+of+each+symptoms%2Fdisease.+There+is+a+graphical+presentation+for+each+symptom.+Patient+would+be+able+to+add+event+for+each+disease.+Another+side+of+the+project+is+for+the+Doctors+which+provide+a+facility+to+build+or+assign+the+symptoms+for+the+patients.+Doctors+would+be+accessing+all+features+on+a+web+based+system.+Doctors+would+be+able+to+view+questions+%28asked+by+patients%29%2C+view+appointments%2C+and+payment+history.')"></a><a class="twitter" title="Twitter" href="JavaScript:newPopup('http://twitter.com/home?status=https://www.flexsin.com/portfolio/online-healthcare-system-for-doctors-and-patients/')"></a></div>
                    </div>
                </div>
            </li>
            <li class="eqHeight">
            	<div><a href="https://www.flexsin.com/mobile-portfolio/daikin-sales-app/"><img src="images/pf_smll_img5.jpg" alt="" class="pfImg"></a></div>
                <div class="homePfOver">
                	<h4 class="hd">iPhone Application</h4>
                    <div class="info" onClick="window.location='https://www.flexsin.com/mobile-portfolio/daikin-sales-app/'">
                     	<div class="inner">
                            <div class="name"><a href="https://www.flexsin.com/mobile-portfolio/daikin-sales-app/">Enterprise App for Daikin AC Dealers</a></div>
                            <div class="txt">Daikin TCO Sales Application allows the dealers to determine the correct heating and...</div>
                            <div class="tags"><span>iOS</span><span>Android</span></div>
                        </div>
                    </div>
                    <div class="bot clearfix">
                    	<div class="lft"><a href="https://www.flexsin.com/mobile-application-development/mobile-application-portfolio.php?industry=manufacturing">Manufacturing</a></div>
                        <div class="rgt"><a href="javascript:void(0)" class="share" title="Sahre"></a><a class="facebook" title="Facebook" href="javascript:void(0)"></a><a class="twitter" title="Twitter" href="javascript:void(0)"></a></div>
                    </div>
                </div>
            </li>
            <li class="eqHeight">
            	<div><a href="https://www.flexsin.com/mobile-portfolio/idispatch-driver-app/"><img src="images/pf_smll_img9.jpg" alt="" class="pfImg"></a></div>
                <div class="homePfOver">
                	<h4 class="hd">Android Application</h4>
                    <div class="info" onClick="window.location='https://www.flexsin.com/mobile-portfolio/idispatch-driver-app/'">
                     	<div class="inner">
                            <div class="name"><a href="https://www.flexsin.com/mobile-portfolio/idispatch-driver-app/">GPS based Vehicle & Driver Tracking App</a></div>
                            <div class="txt">The client required the development of a user friendly application that ensures... </div>
                            <div class="tags"><span>Android</span><span>iOS</span><span>Xcode</span><span>Android Studio</span></div>
                        </div>
                    </div>
                    <div class="bot clearfix">
                    	<div class="lft"><a href="https://www.flexsin.com/mobile-application-development/mobile-application-portfolio.php?industry=logistics-and-transportation">Logistics and Transportation</a></div>
                        <div class="rgt"><a href="javascript:void(0)" class="share" title="Sahre"></a><a href="javascript:void(0)" class="facebook" title="Facebook"></a><a href="javascript:void(0)" class="twitter" title="Twitter"></a></div>
                    </div>
                </div>
            </li>
            <li class="eqHeight">
            	<div><a href="https://www.flexsin.com/portfolio/jamisbikes/"><img src="images/pf_smll_img4.jpg" alt="" class="pfImg"></a></div>
                <div class="homePfOver">
                	<h4 class="hd">Supply Chain</h4>
                    <div class="info" onClick="window.location='https://www.flexsin.com/portfolio/jamisbikes/'">
                     	<div class="inner">
                            <div class="name"><a href="https://www.flexsin.com/portfolio/jamisbikes/">Business Automation for Bicycles Manufacturing Industry</a></div>
                            <div class="txt">The bicycle is a marvelous invention, with an impact that is almost completely...</div>
                            <div class="tags"><span>Odoo</span><span>Python</span><span>Postgress</span></div>
                        </div>
                    </div>
                    <div class="bot clearfix">
                    	<div class="lft"><a href="https://www.flexsin.comportfolio.php?industry=manufacturing">Manufacturing</a></div>
                        <div class="rgt"><a href="javascript:void(0)" title="Share" class="share"></a>                        
                        <a class="facebook" href="JavaScript:newPopup('http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://www.flexsin.com/portfolio/jamisbikes/&amp;p[images][0]=https://www.flexsin.com/upload/portfolio/thumb/1477579701-1F.jpg&amp;p[title]=Business Automation for Bicycles Manufacturing Industry&amp;p[summary]=')"></a>
                        <a class="twitter" title="Twitter" href="JavaScript:newPopup('http://twitter.com/home?status=https://www.flexsin.com/portfolio/jamisbikes/')"></a></div>
                    </div>
                </div>
            </li>
            <li class="eqHeight">
            	<div><img src="images/pf_smll_img6.jpg" alt="" class="pfImg"></div>
                <div class="more"><a href="https://www.flexsin.com/portfolio.php"><span>6500+ COMPLETED PROJECTS<br> IN 35+ COUNTRIES <span class="btn transition">View Portfolio</span></span></a></div>
            </li>
        </ul>
    </div>
    <!--End CaseStudy-->
    <!-- Start Clients Feedback-->
    <div class="clientFeedbackBg wow fadeInDown" data-wow-delay="0.3s">
        <div class="container clearfix">
            <div class="client-feed-L eqHeight">
                <h4 class="clientfeedHd"><span class="mediumFont">Client's Feedback</span> Flexsin Review, Feedback and Complaints</h4>
                <div class="clientfeedDisc">
                    <ul class="clientFeed-Slider">
                        <li>
          <img src="https://www.flexsin.com/upload/testimonial/1362690495-1DEJAN.jpg" alt="" rel="nofollow">
                                <p>Working with flexsin on website design has been the perfect relationship for more than 1 1/2 years now, costs are always as promised, the work process is always fluid and moving forward ....</p>
                                <span>Dejan S. Vojnovic</span>
                                <small>Founder - Restsearch Ltd., Atlanta, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1362690402-1Robert_Sheinbein_EZD.jpg" alt="" rel="nofollow">
                                <p>This company was greatEven though I delayed getting them the infomration they needed they kept on me to get it and in a polite wayThey have done and are doing a great job </p>
                                <span>Robert Sheinbein</span>
                                <small>Owner, EZD Consulting Inc, Toronto, Canada</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1363116824-1Mike_Constable_Muology.jpg" alt="" rel="nofollow">
                                <p>Flexsin worked with me on a fixed price web platform development for a startup company that offers a marketplace for musicians and media talent. The project was quite ambitious and incl ....</p>
                                <span>Mike Constable</span>
                                <small>Owner - Muology Ltd. Chester, UK</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1363117711-1.jpg" alt="" rel="nofollow">
                                <p>Flexsin has provided a professional and cost effective product that is of the highest class. I currently have 2 other projects with them and highly recommend their services. </p>
                                <span>Rodney Bartley</span>
                                <small>Owner, National Products Fulfilment, NSW, Australia</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1441879378-11363415390-1Josh.jpg" alt="" rel="nofollow">
                                <p>Very happy with Flexsin through my experience with them over the last few months and I look forward to working with them in the future. </p>
                                <span>Josh Rancchod</span>
                                <small>Gold Coast, QLD, Australia</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1363438262-1Erik_Fleming.jpg" alt="" rel="nofollow">
                                <p>The Flexsin team did an excellent job revamping our SEO unfriendly website into a modern more user friendly site that will achieve our SEO goals. Their addition of wordpress to our site ....</p>
                                <span>Erik Fleming</span>
                                <small>President/CEO at Diverse Optics Inc., CA, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1363438482-1Brian_Merritt.jpg" alt="" rel="nofollow">
                                <p>Flexsin have engaged in a very complicated development and performed very well, adding value and being a good communicator and developer. Changes were allowed during the project without ....</p>
                                <span>Brian Merritt</span>
                                <small>Principal Consultant at 2111 Consulting, London, UK</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1363440660-1Philip_Tomich.jpg" alt="" rel="nofollow">
                                <p>I would never hire anyone else to do a project except Flexsin. If you are lucky enough to work with Munesh you will understand. Make sure you ask for him. Also they worked faster then I ....</p>
                                <span>Philip Tomich</span>
                                <small>President Freight Rate Pro, Miami, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1363441048-1Juerg_Suter.jpg" alt="" rel="nofollow">
                                <p>I have been working with Flexsin now for more than 3 year and I am extremely pleased with their performance. I can confidently say that they are my personal favourite. </p>
                                <span>Juerg Suter</span>
                                <small>Owner - OCC Switzerland, Zurich, Switzerland</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1479372393-1Dave_Pre.jpg" alt="" rel="nofollow">
                                <p>We have been working with Flexsin for over 2 years now and I can definitely say that they are a great solution for PHP programming tasks when you want something done well and for a good ....</p>
                                <span>Dave Ben-Nun</span>
                                <small>CEO Prescience Online, Austin, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1362689946-1Michele_Steele.jpg" alt="" rel="nofollow">
                                <p>Thank you so much for your excellent wisdown and wonderful service. I have rarely worked with a company that was so responsive. I received continuous updates and the work was always exc ....</p>
                                <span>Michele Steele</span>
                                <small>Realtor at RE/MAX Direct, Florida, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1366694192-1Andre-C-Janus.jpg" alt="" rel="nofollow">
                                <p>Flexsin did a wonderful job taking our website ranking and improving our results on over 50+ keywords. The team did an impeccable job, and was able to adjust and adapt to even the most  ....</p>
                                <span>Andre Janus</span>
                                <small>CEO, Cristaux International, Chicago, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1363427536-1Werner_Geyser.jpg" alt="" rel="nofollow">
                                <p>I have been using providers over Elance for years and have done thousands of dollars of work over Elance with providers from all over the world. I can honestly say that Flexsin has been ....</p>
                                <span>Werner Geyser</span>
                                <small>Cape Town, Western Cape,	 South Africa</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1363427718-1chris_cheek.jpg" alt="" rel="nofollow">
                                <p>Flexsin Technologies exceeded my expectations. The project manager worked closely with me to refine the scope of work. The development team added additional resources to meet our projec ....</p>
                                <span>Chris Cheek</span>
                                <small>Owner CMC Interactive, Minnesota, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1363427848-1Toby_Hone.jpg" alt="" rel="nofollow">
                                <p>Flexsin have demonstrated a good handling of my project requirements being able to handle most requests quite easily. This has been my first project with them and I will likely be using ....</p>
                                <span>Toby Hone</span>
                                <small>Managing Member - AfriSeek, Johannesburg, South Africa</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1368423160-1KEVIN-KELLY.jpg" alt="" rel="nofollow">
                                <p>I enjoyed working with Flexsin on this project. Their very strong team were always, honest, transparent, responsive and knowledgeable about the topics and challenges of the day. I look  ....</p>
                                <span>Kevin Kelly</span>
                                <small>Founder Kevin Kelly Unlimited, Galway, Ireland</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1368423307-1Steve-Lyerly.jpg" alt="" rel="nofollow">
                                <p>Flexsin delivered as promised! Their team provided a complete SEO analysis and developed a plan for organic growth within rankings. I would recommend their services to companies looking ....</p>
                                <span>Steve Lyerly</span>
                                <small>Vice President Team Merrill Corporation, North Carolina, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1368423612-1AJ.jpg" alt="" rel="nofollow">
                                <p>Flexsin is very professional and knows their craft. They have played a big role in the company\'s online presence. </p>
                                <span>AJ Mihrzad</span>
                                <small>Author at OnlineSuperCoach.com, New York, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1368423965-1Glenn-Dickstein.jpg" alt="" rel="nofollow">
                                <p>I am very pleased to have connected with the team at Flexsin. At first I was worried about giving this responsibility to a third party, but the Flexsin team quickly put me at ease. They ....</p>
                                <span>Glenn Dickstein</span>
                                <small>CEO NeighborhoodTrainer.com, New York, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1379506614-1Stephan.png" alt="" rel="nofollow">
                                <p>A short while ago we decided to have our corporate website redesigned. We came across Flexsin and as our first contact was very professional, we decided to assign the project to them. I ....</p>
                                <span>Stephan Stoeber</span>
                                <small>CEO at Formel Fun AG, Zurich, Switzerland</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1382627605-1Dustin_Radin.jpg" alt="" rel="nofollow">
                                <p>The project manager was very responsive and knew his material well. He definitely did everything in his power to deliver a great product. I am pleasantly surprised at having found this  ....</p>
                                <span>Dustin Radin</span>
                                <small>Director - Online Visibility, Inc., Miami, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1384266265-1BrianLightner.jpg" alt="" rel="nofollow">
                                <p>Flexsin Studio has gone above and beyond the call of duty on this one. Despite a major time difference between us, Flexsin Studios would stay late just to work on our project. They were ....</p>
                                <span>Brian Lightner</span>
                                <small>Co-Founder at NXT Level PC, Kentucky, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1384266963-1yoni.jpg" alt="" rel="nofollow">
                                <p>Working with Flexsin has been a pleasure. No matter the number of questions, this team of professionals always answered us patiently. We plan to use Flexsin for all of our future projec ....</p>
                                <span>Yoni Gad</span>
                                <small>Owner - Element Locksmith LLC, Washington, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1479373611-1Brian.jpg" alt="" rel="nofollow">
                                <p>We have used Flexsin for several years now. We are satisfied with the work and were particularly pleased with the latest work. They made a good suggestion to create an automatic data up ....</p>
                                <span>Brian Fisher</span>
                                <small>Founder at Qualitas Flash Drives, San Francisco, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1386939699-1rodeny-c.jpg" alt="" rel="nofollow">
                                <p>The company had very good communication skills and adhered to their original estimate of the project even though their original estimate was not aligned with the project scope. Their em ....</p>
                                <span>Rodney Cruce</span>
                                <small>COO at On Point Saliency, Georgia, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1386939759-1chris-cheek.jpg" alt="" rel="nofollow">
                                <p>Flexsin was great to work with on this project. Their SEO strategies incorporated a variety of rank building techniques. We received weekly and monthly status reports, work reports, and ....</p>
                                <span>Chris Cheek</span>
                                <small>Owner CMC Interactive, Minnesota, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1391760525-11382627605-1Dustin_Radin.jpg" alt="" rel="nofollow">
                                <p>I demand attention to detail for our designs and Flexsin did a great job with this project. They worked to make everything just right and completed the requests I asked according to spe ....</p>
                                <span>Dustin Radin</span>
                                <small>Director - Online Visibility, Inc., Miami, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1402460467-1jerry_zhu.jpg" alt="" rel="nofollow">
                                <p>It was a great pleasure working with Flexsin. Our working relationship turned out a great success better than expected. Flexsin is willing to go extra miles for developing a better prod ....</p>
                                <span>Jerry Zhu</span>
                                <small>Co-Founder Houssmax Realty Marketing Ltd., WA, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1421671197-1regina_thumb.jpg" alt="" rel="nofollow">
                                <p>My name is Regina D. Braggs and I am the CEO of Applause Network TV.  Applause Network TV is an internet television network featuring live shows and videos.  The website existed for 2 y ....</p>
                                <span>Regina D. Braggs</span>
                                <small>CEO Applause Network TV, New York, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1421828336-1Virginie-Benichou.jpg" alt="" rel="nofollow">
                                <p>I'm very happy to have found the Flexsin company through Elance! Flexsin team has realized a good job. </p>
                                <span>Virginie Benichou</span>
                                <small>Founder Light-angel.nl, Amsterdam, Netherlands</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1429536201-1Steve.jpg" alt="" rel="nofollow">
                                <p>Overall I am very pleased with how the website has turned out. Amit & Gyan have been great to work with throughout the project.In the early stages of the project I was a bit concerned a ....</p>
                                <span>Steven Rankin</span>
                                <small>Architect at Symtech International, NSW, Australia</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1441876003-13209bb0.jpg" alt="" rel="nofollow">
                                <p>I have worked with Flexsin in the development of an iOS App. It has been a pleasure to work with Naveen and his team. They commited to deliever the best possible in a very limited time  ....</p>
                                <span>Jaime Farres Rocabert</span>
                                <small>Co-Founder & COO en 21 Buttons, Barcelona, Spain</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1441879483-1132c8b0.jpg" alt="" rel="nofollow">
                                <p>This is my first time working with a freelancer and my experience was phenomenal with this team. I liked the flexibility and professionalism exhibited by this great team which build our ....</p>
                                <span>Gus Chihaba</span>
                                <small>President Samaritan, Dallas, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449142253-1allen_Ervin.jpg" alt="" rel="nofollow">
                                <p>I am glad to have Flexsin as a resource. They are very knowledgeable in all aspects of SharePoint. </p>
                                <span>Allen Ervin</span>
                                <small>Sr SharePoint Consultant Voya Financial, Georgia, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449142473-1werner_mertz.jpg" alt="" rel="nofollow">
                                <p>This was an amazing process and I will continue to collaborate with them in the future. I will recommend the organization to anybody. </p>
                                <span>Werner Mertz</span>
                                <small>SAP Banking Functional Architect, Sydney, Australia</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449143417-1Fabien.png" alt="" rel="nofollow">
                                <p>Hands down, I will recommend Flexsin. They have performed above my own expectations and provided some expert advises that tremendously enhanced my platform. They have full understanding ....</p>
                                <span>Fabien W. Edjou</span>
                                <small>Founder & CEO at LeanServ, LLC, Wisconsin, United States</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449143692-1abraham.jpg" alt="" rel="nofollow">
                                <p>Very reliable and extremely responsive to multiple tasks. Speed of communication, accuracy, reasonable price. What more could you ask for? Prateek and his guys have really been invaluab ....</p>
                                <span>Abraham Melles</span>
                                <small>President Crystal Parking, Washington, United States</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449144007-1sophi.png" alt="" rel="nofollow">
                                <p>I am so impressed with the work the team at Flexsin has done for me. I cannot recommended them more. I am a very very picky client and know exactly what I want, and Flexsin delivered ju ....</p>
                                <span>Sophie Gray</span>
                                <small>Owner - WayOfGray,  Alberta, Canada</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449144158-1stuart.jpg" alt="" rel="nofollow">
                                <p>Flexsin did a fantastic job for us on the first phase of this project. We score them 5 out of 5 on every element of the job and would recommend them highly. We have already appointed th ....</p>
                                <span>Stuart Harris</span>
                                <small>Founder litigator.co.za, Sandton, South Africa</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449144298-1dipak.jpg" alt="" rel="nofollow">
                                <p>It was such a great pleasure working with Flexsin on this project. He was knowledgeable, articulate, precise and was able to suggest alternatives in the stickiest of situations. He has  ....</p>
                                <span>Dipak Chatterjee</span>
                                <small>President OperationIT, New York, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449144537-1devlin.jpg" alt="" rel="nofollow">
                                <p>Flexsin was a great company to have work for me. Their limitless capabilities for my vision became exceedingly helpful throughout the process of building my site. There were also very f ....</p>
                                <span>Devlin Hogans</span>
                                <small>Communications Specialist UnitedHealth Group, Iowa, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449145346-1Guleed.jpg" alt="" rel="nofollow">
                                <p>Flexsin Technologies has worked with us to create a very complex web based application. They have been most accommodating and have provided vital suggestions during the development stag ....</p>
                                <span>Guleed Abokor</span>
                                <small>Manager Echo Managed Services, England, UK</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449470965-1valerie.jpg" alt="" rel="nofollow">
                                <p>Flexsin was very professional and patient with us on all the changes that were made along the way in this project. It just took longer that we anticipated. Overall they are a great comp ....</p>
                                <span>Valerie Holamon</span>
                                <small>Business Development Director - Genea (CRE), Texas, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449472451-1marichi.png" alt="" rel="nofollow">
                                <p>I like flexsin i will definitively recommend them, there customer service is great they have great team of experts in development, i will suggest that the company needs to have options  ....</p>
                                <span>Ariel D</span>
                                <small>Founder Mariachi Social, USA</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449473928-1lant.jpg" alt="" rel="nofollow">
                                <p>This was a challenging project that benefitted greatly from the project manager I was working with. I would definitely seek him out for further projects with Flexsin. I think the PM mak ....</p>
                                <span>Alan Timms</span>
                                <small>Digital Strategist - IVolution Consulting, Adelaide, Australia</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449474316-1eline.jpg" alt="" rel="nofollow">
                                <p>Very pleased with our working relationship on this project. Particularly valued the input of new ideas and suggestions for improvement. Not being a technical person, it was helpful to h ....</p>
                                <span>Elaine Gold</span>
                                <small>Director - Silatech, Hertfordshire, UK</small>
                            </li><li>
          <img src="https://www.flexsin.com/upload/testimonial/1449475789-1jared.jpg" alt="" rel="nofollow">
                                <p>I have been working with Flexsin for a few months on an e-learning platform and plan to continue work with them on this project and potentially a couple others. My biggest recommendatio ....</p>
                                <span>Jared Firth</span>
                                <small>Founder - Worldwide English Services, Russia</small>
                            </li>                    </ul>
                </div>
            </div>
            <div class="client-feed-R eqHeight">
                <div class="client-video">
                    <ul>
                        <li><a href="#client-video1" class="transition active"><img src="images/video-img3.jpg" alt=""> <img src="images/video-icon.png" alt="" class="video-icon"></a></li>
                        <li><a href="#client-video2" class="transition"><img src="images/video-img.jpg" alt=""> <img src="images/video-icon.png" alt="" class="video-icon"></a></li>
                        <li><a href="#client-video3" class="transition"><img src="images/video-img2.jpg" alt=""> <img src="images/video-icon.png" alt="" class="video-icon"></a></li>
                    </ul>
                </div>
                <div class="clientVideo-R">
                    <div class="client-Video" id="client-video1"><iframe src="https://www.youtube.com/embed/di_8sZwPVrM?enablejsapi=1&version=3&playerapiid=ytplayer" allowfullscreen class="videoFile"></iframe></div>
                    <div class="client-Video" id="client-video2" style="display:none;"><iframe src="https://www.youtube.com/embed/CJIKRxH2cTE?enablejsapi=1&version=3&playerapiid=ytplayer" allowfullscreen class="videoFile"></iframe></div>
                    <div class="client-Video" id="client-video3" style="display:none;"><iframe src="https://www.youtube.com/embed/m5CMfZVDUBM?enablejsapi=1&version=3&playerapiid=ytplayer" allowfullscreen class="videoFile"></iframe></div>
                </div>
            </div>
        </div>
        <div class="investingTimeBg wow fadeIn">
            <div class="container">
                <ul class="clearfix">
                    <li><span><i class="mediumFont count1">8</i><i>+</i> years</span>IT/Software Business</li>
                    <li><span><i class="mediumFont count2">250</i><i>+</i></span>IT Professionals</li>
                    <li><span><i class="mediumFont count3">6500</i><i>+</i></span>project delivered</li>
                    <li><span><i class="mediumFont count4">45</i><i>%</i> </span>REPEAT &amp; REFERRALS</li>
                    <li class="mediumFont lipadd"><span>State of art</span> infrastructure</li>
                    <li class="mediumFont lipadd"><span>Flexible</span>engagement model</li>
                    <li class="mediumFont lipadd"><span>INDUSTRY SPECIFIC</span> EXPERIENCE</li>
                    <li class="mediumFont lipadd"><span>Seamless</span>communication</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Clients Feedback-->
    <!--Start Free Consultation -->
    <div class="clientlogoBx  wow fadeInDown" data-wow-delay="0.3s">
    	<div class="container">
    		<h4 class="homeOPHd"><a href="our-process.php">Our Process</a></h4>
    		<span class="topTxt">We employ industries' leading methods &amp; practices to deliver the business solutions just right for you.  Engage our dedicated team for best results. </span>
            <div class="clearfix">
            	<div class="engage-L">
                	<div class="engageTxt">
                    	<h5><span>Engaging Us</span></h5>
                        Our engagement models include fixed cost, time/material and dedicated team for offshore development services to meet diverse quality needs for cost effective solutions. <a href="https://www.flexsin.com/our-process.php#engagingus">Read more...</a>
                    </div>
                </div>
            	<div class="engage-M">
                	<div class="engageTxt">
                    	<h5><span>Dedicated Team Model</span></h5>
                       	DTM model offers reliable &amp; cost-effective web solutions. Hire a dedicated IT expert's team of web developers and designers with required skill sets and technology for your project. <a href="https://www.flexsin.com/hire-dedicated-professionals.php">Read more...</a>
                    </div>
                </div>
                <div class="engage-R">
                	<div class="engageTxt">
                    	<h5><span>Method &amp; Practices</span></h5>
                        Accelerated development and result driven approach aligned to business processes and best industry practices spanning from Scrum Agile to Devops methodologies and process. <a href="http://www.flexsin.com/our-process.php#methodspractices">Read more...</a>
                    </div>
                </div>
            </div>
            <span class="botTxt">We are certified Nasscom, ISO 9001:2008,  Microsoft and Google partner, having served <span>2500<span>+</span></span> clients ranging from SMEs to Fortune <span>500</span> Companies around the world.</span>
            <div class="clientList">
                <div class="container clearfix">
                    <div class="client-Left">
                        <div class="cliList">
                            <ul class="clearfix">
                                <li><span><img src="images/client1.jpg" alt=""></span></li>
                                <li><a href="http://www.ursindia.com/FLEXSIN_TECHNOLOGIES_PRIVATE_LIMITED/client/NOIDA.aspx" target="_blank"><img src="images/client2.jpg" alt=""></a></li>
                                <li><a href="https://www.microsoft.com/en-in/solution-providers/partnerdetails/flexsin-inc_0b41e635-4a10-475c-b7b7-bc6862a19e41/5f0ff90c-995a-4f10-a74b-c56da24d8e7c" target="_blank"><img src="images/client3.jpg" alt=""></a></li>
                                <li><a href="https://advertise.bingads.microsoft.com/en-gb/training-accreditation-find-a-pro-directory/pro/id/17953/flexsin-technologies" target="_blank"><img src="images/client4.jpg" alt=""></a></li>
                                <li><a href="https://www.google.com/partners/#a_profile;idtf=6949021699;" target="_blank"><img src="images/client5.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="client-Right">
                        <div class="cliList">
                            <ul class="clearfix">
                                <li><span><img src="images/client6.jpg" alt=""></span></li>
                                <li><span><img src="images/client7.jpg" alt=""></span></li>
                                <li><span><img src="images/client8.jpg" alt=""></span></li>
                                <li><span><img src="images/client9.jpg" alt=""></span></li>
                                <li><span><img src="images/client10.jpg" alt=""></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="want-start container"><span>Want to Start a <i>Custom Mobile App / Web Development</i><br> Project?</span> <a href="https://www.flexsin.com/request-quote.php" class="transition">Free Consultation</a></div>
    </div>
    <!--End Free Consultation -->
    <!--Start Footer-->
    <footer class="wow fadeInDown">
    <div class="footer-Top">
        <div class="bg"></div>
        <div class="foottransBg">
            <div class="container clearfix">
           <script src='https://www.google.com/recaptcha/api.js?type=images&onload=onloadCallback'></script>
             
                <div class="footer-L">
                    <h3 class="footerHd mediumFont">Global Locations</h3>
                    <ul class="footerGL clearfix">                            
                        <li><img src="https://www.flexsin.com/images/india_flag.png" alt="" class="icon">G - 63, Sector - 63 Noida,<br> Delhi (NCR), India <span>+91 (120) 4206342</span></li>
                        <li><img src="https://www.flexsin.com/images/usa_flag.png" alt="" class="icon">12222 Merit Drive, Suite 860,<br> Dallas, 75251, TX, USA <span>+1 914-400-1999</span></li>
                    </ul>
                    <div class="footBotMail"><a class="footerMail" href="mailto:info@flexsin.com">info@flexsin.com</a> <a class="footerSkype" href="skype:flexsin?chat">flexsin</a></div>
                </div>
                <div class="footer-M">
                    <div class="footerHd mediumFont"><a href="https://www.flexsin.com/company.php">Corporate Info</a></div>
                    <div class="footnav">
                        <ul>
                            <li><a href="https://www.flexsin.com/company.php" class="transition">About Company</a></li>
                            <li><a href="https://www.flexsin.com/trademark.php" class="transition">Trademark</a></li>
                            <li><a href="https://www.flexsin.com/news/" class="transition">News</a></li>
                            <li><a href="https://www.flexsin.com/our-clients.php" class="transition">Clients</a></li>
                            <li><a href="https://www.flexsin.com/contact.php" class="transition">Contact Us</a></li>
                            <li><a href="https://www.flexsin.com/career.php" class="transition">Career</a></li>
                            <li><a href="https://www.flexsin.com/certification-and-alliance.php" class="transition">Certifications &amp; Alliance</a></li>
                            <li><a href="https://www.flexsin.com/testimonial.php" class="transition">Testimonials</a></li>
                            <li><a href="https://www.flexsin.com/sitemap.php" class="transition">Sitemap</a></li>
                            <li><a href="https://www.flexsin.com/blog/" class="transition">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-M1">
                    <div class="footerHd mediumFont"><a href="https://www.flexsin.com/services.php">Expertise</a></div>
                    <div class="footnav">
                        <ul>
                            <li><a href="https://www.flexsin.com/software-web-development/web-development.php" class="transition">Custom Web Development</a></li>
                            <li><a href="https://www.flexsin.com/mobile-application-development/mobile-application-development.php" class="transition">Mobile App development </a></li>
                            <li><a href="https://www.flexsin.com/application-development.php" class="transition">Enterprise Applications</a></li>
                            <li><a href="https://www.flexsin.com/software-web-development/web-portal-development.php" class="transition">Web &amp; Enterprise Portals</a></li>
                            <li><a href="https://www.flexsin.com/seo-services.php" class="transition">Digital marketing &amp; SEO</a></li>
                            <li><a href="https://www.flexsin.com/software-web-development/e-learning-solutions.php" class="transition">eLearning &amp; Training</a></li>
                            <li><a href="https://www.flexsin.com/ecommerce.php" class="transition">eCommerce Solution</a></li>
                            <li><a href="https://www.flexsin.com/software-web-development/social-networking-application.php" class="transition">Social Networking</a></li>                            
                            <li><a href="https://www.flexsin.com/internet-of-things.php" class="transition">Internet of Thing (IoT)</a></li>
                            <li><a href="https://www.flexsin.com/ai-and-cognitive.php" class="transition">AI &amp; Cognitive</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-M2">
                    <div class="footerHd mediumFont"><a href="https://www.flexsin.com/services.php">Technologies</a></div>
                    <div class="footnav">
                        <ul>
                            <li><a href="https://www.flexsin.com/software-web-development/aspdotnet-development.php" class="transition">.NET</a></li>
                            <li><a href="https://www.flexsin.com/software-web-development/php-development.php" class="transition">PHP</a></li>
                            <li><a href="https://www.flexsin.com/software-web-development/python-development.php" class="transition">Python</a></li>
                            <li><a href="https://www.flexsin.com/mobile-application-development/iOS-development.php" class="transition">IOS</a></li>
                            <li><a href="https://www.flexsin.com/mobile-application-development/android-development.php" class="transition">Android</a></li>
                            <li><a href="https://www.flexsin.com/software-web-development/java-j2ee.php" class="transition">Java</a></li>
                            <li><a href="https://www.flexsin.com/software-web-development/ruby-on-rails.php" class="transition">ROR</a></li>
                            <li><a href="https://www.flexsin.com/saas-cloud-computing/cloud-computing-development.php" class="transition">Cloud</a></li>
                            <li><a href="https://www.flexsin.com/software-web-development/mean-development.php" class="transition">MEAN</a></li>
                            <li><a href="https://www.flexsin.com/software-web-development/odoo-consulting.php" class="transition">Odoo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-R">
                    <div class="footerHd mediumFont"><a href="https://www.flexsin.com/blog/">Blog</a></div>
                    <div class="blogList">
                        <ul>
                           <li>
           <a href="https://www.flexsin.com/blog/how-artificial-intelligence-is-reshaping-the-digital-marketing-landscape/" class="transition">How Artificial Intelligence Is Reshaping The Digit...</a>
            <span>18 10 2017</span>
             <i></i>
             </li><li>
           <a href="https://www.flexsin.com/blog/6-steps-to-create-a-revolutionary-social-media-marketing-plan/" class="transition">6 Steps to Create A Revolutionary Social Media Mar...</a>
            <span>27 08 2017</span>
             <i></i>
             </li><li>
           <a href="https://www.flexsin.com/blog/how-xamarin-transforms-cross-platform-app-development/" class="transition">How Xamarin Transforms Cross Platform App Developm...</a>
            <span>18 08 2017</span>
             <i></i>
             </li><li>
           <a href="https://www.flexsin.com/blog/how-hadoop-transforms-the-big-data-landscape/" class="transition">How Hadoop Transforms The Big Data Landscape...</a>
            <span>11 08 2017</span>
             <i></i>
             </li>                        </ul>
                    </div>
                </div>
                <div class="footMob">
                    <div class="footerHd mediumFont">Global Locations</div>
                    <div class="addressBox newSSS">
                    <img src="https://www.flexsin.com/images/india_flag.png" alt="">
                    G - 63, Sector - 63<br> Noida, Delhi (NCR), India 
                    <i class="phone">+91 120 4206341</i>
                    </div>
                    <div class="addressBox newSSS">
                    <img src="https://www.flexsin.com/images/usa_flag.png" alt="">
                    12222 Merit Drive,<br> Suite 860, Dallas, 75251,<br> TX, USA 
                    <i class="phone">+1 914 400 1888</i>
                    </div>
                </div>
                <div class="footerInfoMob">
                    <ul class="clearfix">
                    	<li><a href="mailto:info@flexsin.com">info@flexsin.com</a></li>
                    	<li><a href="skype:flexsin?chat"><img src="https://www.flexsin.com/images/skype.png" alt=""></a></li>
                    	<li>+1 844-FLEXSIN</li>
                    </ul>
                </div>
            </div>
            <div class="footer-social">
                <ul>
                    <li><a href="https://twitter.com/Flexsin" target="_blank" class="footer-tweet transition"></a></li>
                    <li><a href="https://www.facebook.com/Flexsin" target="_blank" class="footer-fb transition"></a></li>
                    <li><a href="https://plus.google.com/+Flexsin/" target="_blank" class="footer-gplus transition"></a></li>
                    <li><a href="https://www.linkedin.com/in/Flexsin" target="_blank" class="footer-linkedin transition"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC_v109Kj48_j6RgV0Z-nH3w" target="_blank" class="footer-youtube transition"></a></li>
                    <li><a href="https://www.instagram.com/flexsin/" target="_blank" class="footer-instagram transition"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-Bot">
        <div class="footeSitemap">
            <span>Copyright 2008-2017 Flexsin Technologies Pvt. Ltd.</span>
            <span class="mob">Mobile App Development / Web Development Company | </span> <a href="https://www.flexsin.com/resource.php" class="transition">Resource</a> | <a href="https://www.flexsin.com/company/policies.php" class="transition">Privacy Policy</a>
        </div>
    </div>
</footer>
<!--<a href="#top" class="goToTop scrollNew"></a>-->
<script src="https://www.flexsin.com/js/jquery.js"></script>
<script src="https://www.flexsin.com/js/function.js"></script>
<script src="https://www.flexsin.com/js/wow.min.js"></script>
<script>
   		new WOW().init();
</script>
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-20946616-1', 'auto');
  ga('send', 'pageview');
</script>
 <!--Start of Tawk.to Script-->
<!-- <div id="chatBox"></div> -->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/59bbccbb4854b82732ff0401/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!-- <script type="text/javascript">
Tawk_API = Tawk_API || {};
Tawk_API.onStatusChange = function (status){
if(status === 'online')
{
document.getElementById('chatBox').innerHTML = '<a href="javascript:void(Tawk_API.toggle())" class="flexsinChat">We&prime;re LIVE!</a>';
}
else if(status === 'away')
{
document.getElementById('chatBox').innerHTML = '<a href="javascript:void(Tawk_API.toggle())" class="flexsinChat">Away</a>';
}
else if(status === 'offline')
{
document.getElementById('chatBox').innerHTML = '<a href="javascript:void(Tawk_API.toggle())" class="flexsinChat">Email Us!</a>';
}
};
</script> -->

<!--End of Tawk.to Script-->

<div class="remarketingTag">
<!-- Google Code for Remarketing Tag -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: https://google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 988646309;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript><div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/988646309/?guid=ON&amp;script=0"/></div></noscript>
</div>    <!--End Footer-->
</div>
<script src="js/owl.carousel.min.js"></script>
<script>
	var owl = $('.banner-Slider');
	owl.owlCarousel({
		items:1,
		loop:true,
		margin:0,
		autoplay:true,
		nav:true,
		responsive:true,
		smartSpeed:2000,
		slideSpeed : 2000,
		autoplayTimeout:2000,
		autoplayHoverPause:true,
		animateOut: 'fadeOut'
	});
	var owl = $('.clientFeed-Slider');
	owl.owlCarousel({
		items:1,
		loop:true,
		margin:0,
		autoplay:true,
        animateIn: 'fadeIn',
        animateOut: 'fadeOut',
		smartSpeed:5000,
		slideSpeed : 5000,
		autoplayTimeout:5000,
	});
	var owl = $('.homeNSlider');
	owl.owlCarousel({
		items:1,
		loop:true,
		margin:0,
		autoplay:true,
		nav:false,
		smartSpeed:1000,
		slideSpeed : 1000,
		autoplayTimeout:5000,
	});
</script>
</body>
</html>